
body {
	background:#c0c0c0 url("../images/login_bg.png");
}
#login {background: url(../images/login_box.png) no-repeat left top;}
#login-box {
	/* width:333px; */
	height: 345px;
	padding: 4px 50px 0px 50px;
	color: #2c2c2c;
	font: 12px Arial, Helvetica, sans-serif;
}

#login-box img {
	border:none;
}

#login-box h2 {
	padding:0;
	margin:0;
	color: #ebebeb;
	font: bold 44px "Calibri", Arial;
}


#login-box-name {
	float: left;
	display:inline;
	width:80px;
	text-align: right;
	padding: 14px 10px 0 0;
	margin:0 0 7px 0;
}

#login-box-field {
	float: left;
	display:inline;
	width:230px;
	margin:0;
	margin:0 0 7px 0;
}


.form-login  {
	width: 250px;
	padding: 10px 4px 6px 3px;
	border: 2px solid #8fcae6;
	font-size: 16px;
	color: #7d7d7d;
	border-radius:10px;
}


.login-box-options  {
	clear:both;
	padding-left:87px;
	font-size: 11px;
}

.login-box-options a {
	color: #ebebeb;
	font-size: 11px;
}
#login-bottom {background: url(../images/login_box_bottom.png) no-repeat left top;width:100%;height:187px;padding-top:10px;}