@charset "UTF-8";
/* CSS Document */
* {margin:0 auto;padding:0;/*font-size:14px;*/} 
html,body {height:100%;width:100%;} 
a {text-decoration:none;}
.content {background:#f8f8f8;padding:4px;/*height:100%;*/} 
.content a {font-size:15px;color:#369;font-weight:700;text-decoration: none}
.content a:link {font-size: 15px;color: #333333;}
.content a:hover {font-size: 15px;color:#FF0000;text-decoration:underline}
.content a:visited {font-size: 15px;color: #333333;}

.tb_user {width:100%;font-size:16px;border: 1px solid #ececec;}
.tb_sub {height:40px;text-decoration:none;background-color:#4caedd;margin:20px; display: block; width: 120px; font-size: 20px; color:#fff; text-align: center; line-height: 40px;}
.td_1 {background-color: e6e6e6; text-align:left;padding-left:10px;}
.td_2 {background-color: f5f5f5;text-align:left;padding-left:10px;}
.td_3 {background-color: fafafa;text-align:left;padding-left:10px;}
.td_os {background-color: f5f5f5;text-align:center;}
.td_hvs {background-color: e6e6e6;text-align:center;}

.alert {border:1px solid #369;background:#f5f5f5;z-index:1000;position:absolute;display:none;} 
.alert h4 {height:35px;background:#4caedd;color:#fff;padding:5px 0 0 5px;font-size:17px;cursor:move;} 
.alert h4 span {float:left;top:15px;left:10px;position:absolute;} 
.alert h4 span.close {/*margin-left:210px;*/float:right;margin-right:10px;font-weight:500;cursor:pointer;} 
.alert input.text {height:20px;border:1px solid #ccc;}
.alert select {height:20px;border:1px solid #ccc;}
.alert p {padding:12px 0px 0px 0px;} 
.alert p input {width:120px;margin-left:20px;} 
.alert p input.myinp {border:1px solid #ccc;height:16px;} 
.alert p input.sub {width:60px;margin-left:30px;background-color:#fff;border-radius:5px;border:0 solid #fff;}
.alert p input.sub:hover {background-color:#ccc;}
.alert p input.sub:active {background-color:#fff;}

.btn_add {float:right;background-image:url(../images/add.png);background-repeat:no-repeat;background-size:16px;height:16px;width:16px;margin-left:7px;}
.btn_remove {float:right;background-image:url(../images/remove.png);background-repeat:no-repeat;background-size:16px;height:16px;width:16px;margin-left:7px;}

#message1_content{
	position:absolute;
	z-index:10;
	width: 100%;
	height:100%;
    display: none;
    /* margin-top:200px; */
    background-image: url("../images/half_black.png");
    background-repeat: repeat;
}

#message1{
	width: 300px;
	height:100px;
	background-color: rgb(51, 52, 53);
	margin:0 auto;
	font-siza:18px;
	font-weight:blod;
	margin-top:200px;
}

#message1 p{margin: 0 auto;vertical-align: middle;color:white;font-size:18px;text-align:center;top:40px;position:relative;}


